<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test"> <!-- ここにパッケージ名を指定 -->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">

        <!-- MainActivityの定義 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivityの定義 -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>

        <!-- HomeActivityの定義 -->
        <activity android:name=".HomeActivity" />

        <!-- InputWaterの定義 -->
        <activity android:name=".InputWaterActivity" />

        <!-- IntakeActivityの定義 -->
        <activity android:name=".IntakeActivity" />

        <!-- MyPageActivityの定義 -->
        <activity android:name=".MyPageActivity" />

        <!-- EditMyPageActivityの定義 -->
        <activity android:name=".EditMyPageActivity" />

        <!-- SettingsActivityの定義 -->
        <activity android:name=".SettingsActivity"/>

        <!-- SettingsActivityの定義 -->
        <activity android:name=".BodyInfoActivity"/>

        <!-- HeightInfoActivityの定義 -->
        <activity android:name=".HeightInfoActivity"/>

        <!-- WeightInfoActivityの定義 -->
        <activity android:name=".WeightInfoActivity"/>

        <!-- GenderInfoActivityの定義 -->
        <activity android:name=".GenderInfoActivity"/>

        <!-- NameInfoActivityの定義 -->
        <activity android:name=".NameInfoActivity"/>

        <!-- AgeInfoActivityの定義 -->
        <activity android:name=".AgeInfoActivity"/>

        <!-- WaterCalculationActivityの定義 -->
        <activity android:name=".WaterCalculationActivity"/>

        <!-- CustomInputActivityの定義 -->
        <activity android:name=".CustomInputActivity"/>

    </application>

</manifest>
